<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellowpineapple.wakup" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yellowpineapple.wakup.activities.OffersActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBarOverlay.NoShadow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="con.twincoders.twinpush.sdk.PUSH_NOTIFICATION_RECEIVED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yellowpineapple.wakup.activities.OfferDetailActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBarOverlay">
        </activity>

        <activity
            android:name="com.yellowpineapple.wakup.activities.SavedOffersActivity_"
            android:label="@string/my_offers"
            android:theme="@style/AppTheme.ActionBarOverlay">
        </activity>

        <activity
            android:name="com.yellowpineapple.wakup.activities.ModalTextActivity_"
            android:theme="@style/AppTheme.Dialog"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.yellowpineapple.wakup.activities.OfferMapActivity_"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.yellowpineapple.wakup.activities.StoreOffersActivity_"
            android:theme="@style/AppTheme.ActionBarOverlay">
        </activity>

        <activity
            android:name="com.yellowpineapple.wakup.activities.WebViewActivity_"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.yellowpineapple.wakup.activities.SearchActivity_"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.yellowpineapple.wakup.activities.SearchResultActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBarOverlay">
        </activity>

        <activity
            android:name="com.twincoders.twinpush.sdk.activities.RichNotificationActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBdF9IVhdSI71514EAsMLmTjHNsixO9vvM"/>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.yellowpineapple.wakup" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START twinpush_services] -->
        <service
            android:name="com.twincoders.twinpush.sdk.services.NotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.twincoders.twinpush.sdk.services.RegistrationIntentService"
            android:exported="false">
        </service>
        <!-- [END twinpush_services] -->

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
