<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twincoders.twinpush.demo"
    android:versionCode="120"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Custom permission so only this application can receive GCM messages (not required for applications targeted to minSdkVersion 16 and higher) -->
    <permission
        android:name="com.twincoders.twinpush.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    
    <uses-permission android:name="com.twincoders.twinpush.demo.permission.C2D_MESSAGE" />
    
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permission to access to GPS Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <!-- Permission to start service on Boot completed -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TwinPushTheme" >
        <activity
            android:name="com.twincoders.twinpush.demo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.twincoders.twinpush.sdk.activities.RichNotificationActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.twincoders.twinpush.demo.NotificationInboxActivity"
            android:screenOrientation="portrait">
        </activity>
 
        <receiver
            android:name="com.twincoders.twinpush.sdk.notifications.TwinPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
 
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
                <category android:name="com.twincoders.twinpush.demo" />
            </intent-filter>
        </receiver>
 
        <service android:name="com.twincoders.twinpush.sdk.notifications.TwinPushIntentService"/>
        
        <!-- Passive Location tracking services -->
        <service android:name="com.twincoders.twinpush.sdk.services.LocationService"/>
        <receiver android:name="com.twincoders.twinpush.sdk.services.LocationChangeReceiver"/>
        <!-- Service to track user location -->
        <receiver android:name="com.twincoders.twinpush.sdk.notifications.TwinPushReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>